body {
  background: #eee;
  font-family: sans-serif;
  font-size: 15px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px auto;
}

.content {
  background: #e3f4ff;
  padding: 15px 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
  margin-top: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px 25px;
  margin: 0 auto;
  display: block;
}